.body-index{
    background-image: radial-gradient(circle, #ffffff, #d3d2d3, #a9a7a7, #807e7d, #595856, #454443, #333230, #21201f, #1b1a19, #141313, #0c0b0b, #000000);
    height: 100vh;
    overflow-y: hidden;
}

// .body-roma{
//     background-image: url(../../Multimedia/roma.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }

// .body-egipto{
//     background-image: url(../../Multimedia/egipto.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }

// .body-asia{
//     background-image: url(../../Multimedia/asia.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }

// .body-edad-media{
//     background-image: url(../../Multimedia/edad-media.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }

// .body-nordica{
//     background-image: url(../../Multimedia/nordica.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }

// .body-america{
//     background-image: url(../../Multimedia/america.jpg);
//     background-repeat: no-repeat; /* Evita que la imagen se repita */
//     background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
// }


